<div class="backMap">
<div class="colorFont op">
  <h1 style="font-weight: 100">{{map.title}}</h1>
  <p><strong>fecha</strong>: {{map.date}}</p>
  <p><strong>Planes</strong>: {{map.plan}}</p>
  <p><strong>¿Cual es el plan?</strong>: {{map.title}}</p>
  <p><strong>descripción del plan</strong>: {{map.description}}</p>
  <p><strong>Cuantas personas van</strong>: {{people}}</p>
  <form action="/plans/map" method="post">
<input name="location" type="text" class="form-control barra" id="address" value="{{map.location}}">
<input id="submit" type="button" class="btnMap" value="Search in map">
</form>
</div>
<figure id="map" class="addMap"></figure>
<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5QrzQLJtAltgspt1-ri6B04SFtB93v3s&callback=initMap"></script>
</div>