<div class="backMyPlan">
<div class="container plans-index ">
  <br><br>
  <a href="/" class="btn">Volver</a>
  

  {{#each plan}}
<div class="borderMyPlan">
  <h1 style="font-weight: 100">{{this.title}}</h1><hr>
  <p><strong>fecha</strong>: {{this.date}}</p>
  <p><strong>Planes</strong>: {{this.plan}}</p>
  <p><strong>¿Cual es el plan?</strong>: {{this.title}}</p>
  <p><strong>descripción del plan</strong>: {{this.description}}</p>  
  <p><strong>quien se une</strong>: {{this.atending}}</p>
 
  <hr>

  
</div>
  {{/each}}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>