<div class="container plans-index">
  <a href="/" class="btn btn-dark">Volver</a>
  

  {{#each plan}}

  <h1 style="font-weight: 100">{{this.title}}</h1>
  <p><strong>fecha</strong>: {{this.date}}</p>
  <p><strong>Planes</strong>: {{this.plan}}</p>
  <p><strong>¿Cual es el plan?</strong>: {{this.title}}</p>
  <p><strong>descripción del plan</strong>: {{this.description}}</p>  
  <p><strong>quien se une</strong>: {{this.atending}}</p>
 
  <hr>

  
  {{/each}}

</div>