
<div class="backPlans">
  <div class="container">
    <div class="headerPlans">
    <a href="/" class="btn buttonsUpp">Volver</a>
    <h2>Planes</h2>
    <a href="/plans/newPlan/{{user}}" class="btn buttonsUpp">Crear plan</a>
    </div>
  <div class="row colum">
  {{#each plans}}
  <div class="col-md-5 border ">
    <h3 style="margin-top: 10px">{{this.title}}</h3>
    <hr>
    <p><strong>fecha</strong>: {{this.date}}</p>
    <p><strong>Plan</strong>: {{this.plan}}</p>
    <p><strong>¿Cual es el plan?</strong>: {{this.title}}</p>
    <p><strong>Detalles</strong>: {{this.details}}</p>
    <p><strong>descripción del plan</strong>: {{this.description}}</p>
    <p><strong>location</strong>: {{this.location}}</p>
    <div class="colum marg">
      <a href="/plans/{{_id}}" class="btn ">Unirse al plan</a>
      <a href="/plans/details/{{this._id}}" class="btn ">Ver Ubicación</a>
      </div>
  </div>

    {{/each}}

  </div>
  </div>
</div>