<div class="container plans-index">
  <a href="/" class="btn btn-dark">Volver</a>
  <a href="/plans/newPlan" class="btn btn-dark">Crear plan</a>
  <h5>Planes</h5>
<div class="row">
 {{#each plans}}
<div class="col-md-6">
  <h1 style="font-weight: 100">{{this.title}}</h1>
  <p><strong>fecha</strong>: {{this.date}}</p>
  <p><strong>Planes</strong>: {{this.plan}}</p>
  <p><strong>¿Cual es el plan?</strong>: {{this.title}}</p>
  <p><strong>Detalles</strong>: {{this.details}}</p>
  <p><strong>quien se une</strong>: {{this.atending}}</p>
  <p><strong>descripción del plan</strong>: {{this.description}}</p>
  <p><strong>location</strong>: {{this.location}}</p>
  
</div>

  <hr>
  {{/each}}

</div>
</div>