<div class="backBasket">
  
  <div class="container">
    <br><br>
    <h1>Profile</h1>
    {{#with profile}}

    <div class="containerGlobalProfile">
      <div class="imgProfile">
        <img class="imgProf" src="{{imgPath}}" alt="{{imgName}}" style="width: 100%">
        
      </div>
          <br><br>
         <div class="infoProfile colorFont op ">
          <h2 class="nameProfile">{{name}}</h2>
          <h2 class="nameProfile">{{lastName}}</h2>
          <hr>
        <div class="box-container">
            <img src="/images/write-letter.png" class="iconProfile iconFuck">
            <div class="aboutProfile">
              <h3>About : </h3>
              <p>{{description}}</p><br>
              <hr>
            </div>
        </div>
            <div class="ageProfile">
              <img src="/images/calendar.png" class="iconProfile">
              <h3>Edad : {{age}}</h3>
              <hr>
            </div>
        
        <div class="ageProfile">
          <img src="/images/email.png" class="iconProfile">
          <h3>Email : {{email}}</h3>
        <hr>
        </div>
        <div class="ageProfile">
          <img src="/images/location.png" class="iconProfile">
          <h3>Localicación : {{location}}</h3>
          <hr>
        </div>

      </div>
    </div>
        <br><br>
        <div>
         <a class="btnPr" href="/profile/edit/{{_id}}">Editar Perfil</a>
         <a class="btnPr" href="/plans/myPlans/{{_id}}" class="btn buttonProf">Ver Mis Planes</a>
        </div>
    
    {{/with}}
    
  </div>
  {{!-- {{else}}
    <p>no image could be found</p> --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 </div>

 </div>