<div class="backBasket">
  <div class="container">
    <h1>Profile</h1>
    {{#with profile}}

    <div class="containerGlobalProfile">
      <div class="imgProfile">
        <img class="imgProf" src="{{imgPath}}" alt="{{imgName}}" alt="{{lastName}}" style="width: 100%">

      </div>

         <div class="infoProfile">
          <h2 class="nameProfile">{{name}}</h2>
          <h2 class="nameProfile">{{lastName}}</h2>
          <hr>
        <div class="box-container">
            <img src="/images/write-letter.png" class="iconProfile iconFuck">
            <div class="aboutProfile">
              <h3 class="abProfile">About : </h3>
              <p>{{description}}</p><br>
              <hr>
            </div>
        </div>
            <div class="ageProfile">
              <img src="/images/calendar.png" class="iconProfile">
              <h3>Edad : {{age}}</h3>
              <hr>
            </div>
        
        <div class="ageProfile">
          <img src="/images/email.png" class="iconProfile">
          <h3>Email : {{email}}</h3>
        <hr>
        </div>
        <div class="ageProfile">
          <img src="/images/location.png" class="iconProfile">
          <h3>Localicación : {{location}}</h3>
          <hr>
        </div>
        <a href="/profile/edit/{{_id}}">Edit Profile</a>
      </div>
    </div>
    
      
    <a href="/plans/myPlans/{{_id}}" class="btn  buttonProf">Ver Mis Planes</a>
    
    {{/with}}
    
  </div>
  {{!-- {{else}}
    <p>no image could be found</p> --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 </div>

 </div>