<div class="container">
  <h1>Profile</h1>
      {{#with profile}}
  <a href="/plans/myPlans/{{_id}}/" class="btn btn-dark">Mis Planes</a>

  <div class="containerGlobalProfile">
    <div class="imgProfile">
      <img src="{{imgPath}}" alt="{{imgName}}" style="width: 100%">
    </div>

    <div class="infoProfile">
      <h2 class="nameProfile">{{name}}</h2>
      <hr>
      <div class="aboutProfile">
        <h3>About:</h3>
        <p>{{description}}</p><br>
      </div>
      <hr>
      <div class="ageProfile">
        <img src="/images/calendar.png" class="iconProfile">
        <h3>{{age}}</h3>
      </div>
      <hr>
      <a href="/profile/edit/{{_id}}">Edit Profile</a>
    </div>
  </div>
      {{/with}}
      <ul>
        {{#each comment}}
        <li>{{this.name}}
          {{this.rating}}/5
          {{this.comentary}}
        </li>
        {{/each}}
      </ul>
    </div>
    {{!-- {{else}}
    <p>no image could be found</p> --}}

  </div>
</div>