<div class="container">
  <h1>Profile</h1>
      {{#with profile}}
  <a href="/plans/myPlans/{{_id}}/" class="btn btn-dark">Mis Planes</a>

  <div class="row">
    <div class="col-md-8">

      <img src="{{imgPath}}" alt="{{imgName}}" style="width: 100%">
      <h2>{{name}}</h2>
      <h3>{{age}}</h3>
      <p>{{description}}</p><br>
      <a href="/profile/edit/{{_id}}">Edit Profile</a>
      {{/with}}
      <ul>
        {{#each comment}}
        <li>{{this.name}}
          {{this.rating}}/5
          {{this.comentary}}
        </li>
        {{/each}}
      </ul>
    </div>
    {{!-- {{else}}
    <p>no image could be found</p> --}}

  </div>
</div>